@primaryBgColor: var(--primary-bg-color, #fff);
@primaryColor: var(--primary-color, #000);

.listContainer {
  position: relative;
  overflow: hidden;
  background-color: @primaryBgColor;
  color: @primaryColor;

  :global(.ql-snow) {
    border: none !important;
  }

  :global(.ql-editor) {
    padding: 0px !important;
  }

  .header {
    overflow: hidden;
    padding: 2px 2px 2px 5px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    background-color: #509296;
    font-size: 12px;
  }

  .listItem {
    padding: 5px 0;
    position: relative;
    // border: 1px solid #f00;
  }

  .liner {
    position: absolute;
    left: 68px;
    width: 1px;
    height: 100%;
    background-color: #1677ff;
  }

  .scrollContainer {
    width: 100%;
  }

  .timeLine {
    position: absolute;
    top: 7px;
    text-align: right;
    height: 80px;
    min-width: 60px;

    .left {
      display: inline-block;
      width: 27px;
      font-size: 20px;
      margin-top: -5px;
      margin-right: 2px;
      vertical-align: top;
    }

    .right {
      text-align: right;
      display: inline-block;
      width: 22px;
      font-size: 10px;
      vertical-align: top;

      .month {
        font-size: 10px;
      }

      .week {
        font-size: 7px;
      }
    }
  }

  .circlePoint {
    position: absolute;
    top: 7px;
    left: 65px;
    z-index: 14;
    width: 5px;
    height: 5px;
    border: 1px solid #1677ff;
    background-color: #fff;
    border-radius: 5px;
  }

  .content {
    margin-left: 75px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;

    .text {
      // border: 1px solid #f00;
    }

    .bottom {
      .time {
        font-size: 10px;
      }
    }
  }

  .activedContent {
    background-color: #6ca8af;
  }

  .listLoading {
    text-align: center;
    padding-left: 45px;
    font-size: 12px;
    line-height: 30px;
  }

  .listBottom {
    position: relative;
    z-index: -1;
    text-align: center;
    padding-left: 45px;
    font-size: 12px;
    line-height: 30px;
  }
}
