.container {
  border: 1px solid #f00;
  height: 100%;
  display: flex;
  // display: flex;
  // .content {
  //   border: 1px solid #f00;
  //   flex: 1;
  //   // height: 100%;
  // }
  .listContainer {
    display: inline-block;
    min-width: 300px;
    flex: 1 1 300px;
  }
  .editContainer {
    display: inline-block;
    min-width: 510px;
    flex: 0 0 510px;
  }
}
