.container {
  // border: 1px solid #f00;
  // height: 100%;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 25px;
  // padding-bottom: 14px;
  .headerContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .calendarContainer {
    display: inline-block;
    // min-width: 500px;
    flex: 0 0 450px;
  }
  .listContainer {
    display: inline-block;
    min-width: 300px;
    flex: 1 1 300px;
  }
  .editContainer {
    display: inline-block;
    min-width: 510px;
    flex: 0 0 510px;
  }
}
